.row {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--bg-slate-200);
  justify-content: space-between;
  gap: 40px;
}

.customer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.text {
  font-size: var(--xxs);
  color: var(--bg-slate-600);
}

.dates {
  font-size: var(--xxs);
  color: var(--bg-slate-500);
}
