.searchContainer {
  padding: 10px;
  border-radius: var(--radius);
  background-color: var(--bg-slate-100);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.call2Action {
  font-weight: 500;
  font-size: var(--md);
  color: var(--bg-slate-500);
}

.form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.form > div:first-child select {
  width: 300px;
}

.venuesList {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.searchResultInfo {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}

.searchResultInfo h3 {
  font-size: var(--lg);
  color: var(--bg-slate-600);
}

@media (max-width: 832px) {
  .searchContainer {
    flex-direction: column;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 650px) {
  .form {
    flex-direction: column;
    width: 100%;
  }
  .form div,
  .form select {
    width: 100%;
  }
  .form button {
    width: 100%;
    justify-content: center;
  }
}
