.container {
  display: flex;
  align-items: top;
  gap: 30px;
  margin-top: 10px;
}

.profile {
  flex: 3;
}

.profileWrapper {
  padding: 30px 20px;
  border-radius: var(--radius);
  border: 1px solid var(--bg-slate-200);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.userInfo {
  margin-top: 20px;
  margin-bottom: 50px;
}

.name {
  font-size: var(--lg);
  font-weight: 700;
  color: var(--black);
}

.email {
  font-size: var(--xs);
  font-weight: 500;
  color: var(--bg-slate-500);
  margin-top: 5px;
}

.lists {
  flex: 7;
  padding-bottom: 80px;
}

.listsWrapper {
  border-radius: var(--radius);
  border: 1px solid var(--bg-slate-200);
}

.listsWrapper ul {
  border-bottom: 1px solid var(--bg-slate-200);
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  background-color: rgba(0, 110, 81, 0.05);
  padding: 0 14px;
}

.listsWrapper ul li {
  border-bottom: 3px solid transparent;
  font-size: var(--xs);
  color: var(--bg-slate-500);
  padding: 13px 0 10px 0;
  cursor: pointer;
  margin-right: 10px;
}

.listsWrapper .active {
  border-color: var(--primary);
}

.venueActions {
  padding: 4px;
}

.notHost {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
}

.notHost h4 {
  font-size: var(--md);
  font-weight: 500;
  color: var(--bg-slate-600);
  margin-top: 0;
  margin-bottom: 10px;
}

.noBookings {
  font-size: var(--md);

  color: var(--bg-slate-600);
  margin-top: 0;
  margin-bottom: 10px;
}

.noBookings span {
  display: flex;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
}

/* Responsive */
@media (max-width: 960px) {
  .profileWrapper img,
  .profileWrapper > svg {
    width: 90px;
    height: 90px;
  }
  .name {
    font-size: var(--sm);
  }
  .email {
    font-size: var(--xxs);
  }
}

@media (max-width: 870px) {
  .container {
    flex-direction: column;
  }
  .profileWrapper {
    flex-direction: row;
    text-align: left;
    gap: 20px;
  }
  .userInfo {
    margin: 0;
    margin-right: auto;
  }
}

@media (max-width: 544px) {
  .profileWrapper {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .userInfo {
    margin-right: 0;
  }
}
