.container input {
  opacity: 0;
  height: 0 !important;
  width: 0 !important;
  position: absolute;
  pointer-events: none;
}

.container label {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox {
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 4px;
  border: 1px solid var(--bg-slate-200);
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox svg {
  width: 12px;
  height: 12px;
}

.checkbox svg path {
  fill: var(--bg-white);
}

.container input + label .checkbox {
  background-color: var(--bg-white);
}

.container input:checked + label .checkbox {
  background-color: var(--primary);
  border-color: var(--primary);
}

.text {
  font-size: var(--xs);
  font-weight: 400;
  color: var(--bg-slate-600);
}
