.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.titleAndLocation h1 {
  font-size: var(--xl);
  font-weight: 600;
  color: var(--bg-slate-600);
  margin-top: 0;
  margin-bottom: 6px;
}

.location {
  display: flex;
  align-items: center;
  gap: 4px;
}

.location span {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: var(--sm);
  font-weight: 400;
  color: var(--bg-slate-500);
}

.ratingAndMaps {
  display: flex;
  align-items: center;
  gap: 20px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 4px;
}

.rating span {
  font-size: var(--md);
  font-weight: 400;
  color: var(--bg-slate-600);
}

.infoContainer {
  background-color: var(--bg-slate-100);
  padding-top: 40px;
  padding-bottom: 80px;
  margin-top: 100px;
  margin-bottom: -80px;
}

.infoWrapper {
  display: flex;
  gap: 80px;
}

.info {
  flex: 55;
}

.info h4 {
  margin-top: 20px;
  margin-bottom: 14px;
  color: var(--bg-slate-600);
  font-size: var(--md);
}

.info p {
  margin-bottom: 24px;
  color: var(--bg-slate-500);
  font-size: var(--sm);
  line-height: 24px;
}

.amenities {
  display: flex;
  align-items: center;
  gap: 26px;
}

.amenities > div {
  display: flex;
  align-items: center;
  gap: 6px;
}

.amenities span {
  font-size: var(--sm);
  font-weight: 400;
  color: var(--bg-slate-600);
}

.booking {
  flex: 45;
}
