@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap");

:root {
  --primary: #006e51;
  --hover: #044534;
  --bg-white: #ffffff;
  --bg-slate-100: #f1f5f9;
  --bg-slate-200: #e2e8f0;
  --bg-slate-400: #94a3b8;
  --bg-slate-500: #64748b;
  --bg-slate-600: #334155;
  --black: #111111;
  --radius: 6px;
  --mainfont: "Inter", sans-serif;
  --xxl: 28px;
  --xl: 24px;
  --lg: 20px;
  --md: 16px;
  --sm: 14px;
  --xs: 13px;
  --xxs: 12px;
}

* {
  font-family: var(--mainfont);
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
}

main {
  box-sizing: border-box;
}

.center-content {
  max-width: 1045px;
  width: calc(100% - 40px);
  margin: 0 auto;
}

svg {
  display: block;
}

.error-message {
  background-color: rgba(222, 4, 4, 0.1);
  color: #de0404;
  border-radius: 6px;
  padding: 6px 10px;
  margin-bottom: 10px;
  font-size: var(--xxs);
}

.error-message p {
  padding: 0;
  margin: 0;
}

.success-message {
  background-color: rgba(0, 110, 81, 0.1);
  color: var(--primary);
  border-radius: 6px;
  padding: 6px 10px;
  margin-top: 10px;
  font-size: var(--xxs);
}

.success-message p {
  padding: 0;
  margin: 0;
}

.with-header {
  padding-top: 80px;
  padding-bottom: 80px;
}

@media (max-width: 475px) {
  .react-datepicker-wrapper {
    width: 100%;
  }
}
